parameters:
    level: 5
    paths:
        - formvox.php
        - includes/
    excludePaths:
        - vendor/
        - node_modules/
        - build/
    bootstrapFiles:
        - vendor/autoload.php
    ignoreErrors:
        - '#Constant ABSPATH not found.#'
